@media (max-width: 576px) { 
  div  .firstRow { background-color: salmon !important;}
  div  .secondRow {  background-color: blue !important;}
  }
@media (min-width: 576px) {
  div .num3{background-color: green !important; }
  div  .firstRow { background-color: rgb(0, 204, 255) !important;}
  }
  @media (min-width: 768px) {  
    div .firstRow { background-color: #198754 !important; }  
    div .secondRow .num3 { background-color: #dc3545 !important; } 
    div .num3 { background-color: #dc3545  !important; }      
  }